.App {
  width: 95%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: sans-serif;
}

.App .feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="number"] {
  padding: 5px 15px;
}

.title {
  font-weight: 700;
}

.slider {
  width: 100%;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.tenureContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tenure {
  width: 15%;
  height: 50px;
  border: none;
  border-radius: 100px;
  background-color: rgb(226, 226, 226);
}

.tenure:hover,
input[type="range"]:hover {
  cursor: pointer;
}

.selected {
  background-color: #009ad6;
  color: white;
}

@media screen and (min-width: 1400px) {
  body {
    padding: 0 18rem;
  }
}